<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LQJPersonalLesson.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2828BCB1D3FA77F00B0E53F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2828BE41D3FA77F00B0E53F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2828BEF1D3FA77F00B0E53F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
